@import "css/indigo-static.css";
@import "css/fonts.css";
@import "css/custom.css";

.h-100-minus-48 {
  height: calc(100% - 48px);
}

.h-100-minus-56 {
  height: calc(100% - 56px);
}

.h-100-minus-60 {
  height: calc(100% - 60px);
}

.w-100-minus-384 {
  width: calc(100% - 384px);
}

p,
div {
  font-family: "Inter", sans-serif;
}
.pointer-none {
  pointer-events: none;
}
.text-center {
  text-align: center;
}
